#navegador {
    height: 300px;
    background-color: rgba(33, 29, 29, 0.756);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.card>img {
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;

}

#mostrar-mas {
    border: 0;
    width: fit-content;
    margin: auto;
    background-color: #000;
    color: #fff;
    padding: 10px;
    font-size: 18px;
    border-radius: 20px;
    margin-bottom: 50px;
    margin-top: 30px;
    cursor: pointer;
    display: none;
}

.card {
    position: relative;
    width: 300px;
    height: 200px;
    background-color: #f2f2f2;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    perspective: 1000px;
    box-shadow: 0 0 0 5px #ffffff80;
    transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.card:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(255, 255, 255, 0.2);
}

.card__content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 20px;
    box-sizing: border-box;
    background-color: #f2f2f2;
    transform: rotateX(-90deg);
    transform-origin: bottom;
    transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.card:hover .card__content {
    transform: rotateX(0deg);
}